@use "../../mixin.scss" as *;

.film-container {
    display: flex;
    align-items: flex-start;
    width: calc(#{1112px} - #{260px});
    max-width: 100%;
    // min-height: 500px;
    // margin-left: auto;
    margin: 0 auto auto;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
        display: none;
    }
    // overflow-y: scroll;

    @include mobile {
        overflow-y: unset;
        min-height: 100vh;
    }
}
