@use "../mixin.scss" as *;

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1112px;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    display: flex;
    // height: 900px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 56px;
    background-color: #111;

    @include mobile {
        height: 100%;
    }

    .recommend {
        width: 100%;
        margin: 12px 0 0 8px;
        color: var(--primary);
    }
}

.content {
    // margin-top: calc(var(--header-height) + 10px);
}

.pagination-page {
    min-width: 200px;
    margin: 16px auto;
}

// Wish list page
.request-login {
    // flex: 1;
    // width: 100%;
    // height: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.empty {
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

.remove-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 4px;
    margin-top: 160px;
    margin-right: 16px;
    border-radius: 50px;
    background-color: var(--primary);
    cursor: pointer;

    @include mobile {
        width: 46px;
        height: 46px;
        margin-left: 60px;
        margin-top: 140px;
    }

    &:hover {
        opacity: 0.6;
    }
}

.remove-all {
    position: fixed;
    bottom: 100px;
    right: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    border-radius: 50px;
    background-color: var(--primary);
    cursor: pointer;

    @include mobile {
        width: 46px;
        height: 46px;
        bottom: 80px;
        right: 20px;
    }

    &:hover span::after {
        content: " Remove all";
    }
}
