@use "../../mixin.scss" as *;

.sidebar {
    flex: 1;
    flex-shrink: 0;
    // width: 260px;
    max-width: 260px;
    padding: 8px 12px;
    margin-right: 4px;
    margin-top: 56px;
    background-color: #111;
    animation: slideIn linear 0.3s;

    @include tablet {
        // display: none;
        width: 25%;
        height: 100%;
        margin-right: 0;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
    }

    @include mobile {
        // display: none;
        width: 50%;
        height: 100%;
        margin-right: 0;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
    }

    .Login-btn {
        display: none;
        margin: 10px 0;
        text-align: center;

        background-color: var(--primary);
        border-radius: 10px;

        a {
            display: block;
            padding: 10px;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }

        @include mobile {
            display: block;
        }
    }

    .genres {
        @include tablet {
            height: 360px;
            overflow-y: scroll;
        }
        @include mobile {
            height: 280px;
            overflow-y: scroll;
        }
    }

    .user {
        display: none;
        justify-content: flex-start;
        align-items: center;
        color: #ddd;
        margin: 10px 0;
        position: relative;

        @include mobile {
            display: flex;
        }

        .avatar {
            display: block;
            width: 18px;
            height: 18px;
            padding: 2px;
            margin-right: 12px;
            border-radius: 50%;
            border: 1px solid;
        }
    }

    .logout-btn {
        padding: 8px 0px;
    }
}

.overlay {
    @include desktop {
        display: none;
    }

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn ease-in 0.3s;
}

@keyframes slideIn {
    from {
        right: -200px;
        opacity: 0.8;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
