@use "../../mixin.scss" as *;

.sidebar {
    flex: 1;
    flex-shrink: 0;
    width: 260px;
    padding: 8px 12px;
    margin-right: 4px;
    margin-top: 56px;
    background-color: #111;
    // border-radius: 4px;

    // position: fixed;
    // top: 0;
    // left: 120px;

    @include tablet {
        // display: none;
        width: 25%;
        height: 100%;
        margin-right: 0;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
    }

    @include mobile {
        // display: none;
        width: 50%;
        height: 100%;
        margin-right: 0;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
    }
}

.overlay {
    @include desktop {
        display: none;
    }

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.6);
}
