:root {
    --primary: #f84a85;
    --header-height: 48px;
    --image-with: 188px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    color: #fff;
    scroll-behavior: smooth;
    background-color: #1a1a1a;

    // No select
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Overide css MUI - Pagination
.MuiPagination-root .MuiPagination-ul {
    justify-content: center;
}

.MuiPagination-root {
    div {
        color: #fff !important;
    }

    button {
        color: #fff !important;
    }

    .Mui-selected {
        background-color: var(--primary) !important;
    }
}

// Comment Ant
.ant-list-header {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.ant-comment-content-author-name {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: var(--primary) !important;
}

.ant-comment-content-author {
    justify-content: space-between !important;
}
